<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangke.shizhong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.SZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/NightTheme">
        <activity android:name=".page.main.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.main.MainActivity"/>
        <activity android:name=".page.poster.InputNameActivity" />
        <activity android:name=".page.poster.SearchResultActivity" />
        <activity android:name=".page.poster.ShowMusicPosterActivity" />
        <activity android:name=".page.poster.ShowMoviePosterActivity" />
        <activity android:name=".page.poster.ShowMusicAlbumActivity" />
        <activity android:name=".page.application.ApplicationStatisticsActivity" />
        <activity android:name=".page.application.SearchApplicationActivity"/>
        <activity android:name=".page.plan.AddPlanActivity"/>
        <activity android:name=".page.plan.EditPlanActivity"/>
        <activity android:name=".page.todo.AddTodoActivity"/>
        <activity android:name=".page.plan.RationPlanDetailActivity"/>
        <activity android:name=".page.todo.CompletedTodoActivity"/>
        <activity android:name=".page.plan.ClockPlanDetailActivity"/>


    </application>

</manifest>